.about {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .div {
  background-color: #16203d;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.about .overlap {
  position: absolute;
  width: 1440px;
  height: 938px;
  top: -155px;
  left: 0;
}

.about .text-wrapper {
  position: absolute;
  top: 355px;
  left: 566px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.about .draftdeck-fantasy-is {
  position: absolute;
  width: 752px;
  top: 465px;
  left: 100px;
  font-family: "Segoe UI-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.about .group {
  position: absolute;
  width: 1440px;
  height: 480px;
  top: 0;
  left: 0;
}

.about .overlap-group {
  position: relative;
  height: 325px;
  top: 155px;
}

.about .frame {
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #1b263c;
  box-shadow: 0px 4px 4px #00000040;
}

.about .image {
  width: 673px;
  height: 325px;
  top: -75px;
  left: 384px;
  position: absolute;
  object-fit: cover;
}

.about .draftdeck-logo {
  position: absolute;
  width: 414px;
  height: 451px;
  top: 466px;
  left: 988px;
  object-fit: cover;
}

.about .menu-bar {
  position: absolute;
  top: 125px;
  left: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .menu-bar img {
  width: 100px;
  height: auto; 
  display: block;
}

.about .line {
  top: 39px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.about .img {
  top: 57px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.about .line-2 {
  top: 74px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.about .overlap-2 {
  position: absolute;
  width: 236px;
  height: 184px;
  top: 783px;
  left: 254px;
}

.about .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  padding-top: 120px;
  line-height: normal;
}

.about .image-2 {
  width: 93px;
  height: 93px;
  bottom: -130px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.about .image-3 {
  width: 94px;
  height: 94px;
  bottom: -130px;
  left: 142px;
  position: absolute;
  object-fit: cover;
}

.about .text-wrapper-3 {
  position: absolute;
  top: 785px;
  left: 931px;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 70px;
  padding-top: 120px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about .image-4 {
  width: 118px;
  height: 118px;
  bottom: -173px;
  left: 100px;
  position: absolute;
  object-fit: cover;
}

.about .image-5 {
  width: 94px;
  height: 94px;
  bottom: -160px;
  left: 537px;
  position: absolute;
  object-fit: cover;
}

.about .text-wrapper-4 {
  position: absolute;
  top: 900px;
  left: 875px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  padding-top: 120px;
  color: #ffffff;
  font-size: 33px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}