html, body {
  height: 100%;
  margin: 0;
  background-color: #16203d;
}
.change-password {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.change-password .div {
/* fallback solid color */
background-color: #16203d;

/* your gradient overlay */
background-image: linear-gradient(
  to bottom right,
  rgba(8, 33, 107, 0.9),
  rgba(29, 43, 86, 0.9),
  rgba(12, 24, 61, 0.9),
  rgba(32, 44, 80, 0.764),
  rgba(9, 30, 93, 0.9)
);
  width: 1440px;
  height: 1024px;
  position: relative;
}

.save-password-button {
  position: absolute;
  width: 394px;
  height: 64px;
  top: 646px;
  left: 522px;
  background-color: #fda311;
  color: white;
  font-family: "Segoe UI-Bold", Helvetica;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-password-button:hover {
  background-color: #e69510;
}

.save-password-button:focus {
  outline: 3px solid white;
  background-color: #cc850f;
}


.change-password .overlap-group {
  position: absolute;
  width: 1440px;
  height: 508px;
  top: -155px;
  left: 0;
}

.change-password .group {
  position: absolute;
  width: 1440px;
  height: 480px;
  top: 0;
  left: 0;
}

.change-password .overlap-group-2 {
  position: relative;
  height: 325px;
  top: 155px;
}

.change-password .frame {
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #1b263c;
  box-shadow: 0px 4px 4px #00000040;
}

.change-password .image {
  position: absolute;
  width: 673px;
  height: 325px;
  top: -75px;
  left: 384px;
  object-fit: cover;
}

.change-password .menu-bar {
  position: absolute;
  top: 125px;
  left: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-password .menu-bar img {
  width: 100px;
  height: auto;
  display: block;
}


.password-input {
  position: absolute;
  width: 780px;
  height: 50px;
  left: 315px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 4px 4px #00000040;
  background-color: #ffffff;
  color: #333;
}


#existing-password {
  top: 420px;
}


#new-password {
  top: 520px;
}


.password-input::placeholder {
  color: #a2a2a2;
  font-size: 16px;
}


.password-input:focus {
  border-color: #fda311;
  box-shadow: 0 0 5px rgba(253, 163, 17, 0.5);
}


.text-wrapper-2, .text-wrapper-4 {
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  font-size: 20px;
  color: #fda311;
}


.text-wrapper-2 {
  top: 390px;
  left: 315px;
}


.text-wrapper-4 {
  top: 490px;
  left: 315px;
}
