.menu-container {
  position: fixed; /* <- changed from absolute */
  top: 130px; /* consistent offset from the top of the screen */
  right: 55px; /* consistent from the right */
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 20px;
  padding: 20px;
  box-shadow: -10px 10px 7px rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
  text-align: right;
  color: #5a5a5a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.menu-container a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 20px 5px;
  transition: background-color 0.3s ease;
  border-bottom: 1.5px solid #9f9f9f;
}

.menu-container a:hover {
  background-color: rgba(143, 161, 255, 0.299);
  color: #000000;
  font-weight: bold;
}

.menu-container a:last-child {
  border-bottom: none;
}
.menu-bar {
  position: fixed; /* Keep it in a fixed position */
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 101; /* Ensure it's above the menu */
  cursor: pointer; /* Indicate it's clickable */
  padding: 1px; /* Add some padding for touch/click area */
  background: none; /* Remove any default background */
  border: none; /* Remove any default border */
}

.menu-bar img#menu-icon {
  width: 115px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure it behaves like a block-level element */
}