html, body {
  height: 100%;
  margin: 0;
  background-color: #16203d;
}

.my-fantasy-team {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.my-fantasy-team .div {
  background-color: #16203d;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.my-fantasy-team .overlap {
  position: absolute;
  width: 1282px;
  height: 410px;
  top: 539px;
  left: 94px;
}

.my-fantasy-team .rectangle {
  width: 1261px;
  height: 400px;
  top: 10px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.my-fantasy-team .vector {
  position: absolute;
  width: 1262px;
  height: 387px;
  top: 16px;
  left: 0;
}

.my-fantasy-team .text-wrapper {
  position: absolute;
  width: 319px;
  top: 186px;
  left: 472px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .slide {
  position: absolute;
  width: 1261px;
  height: 95px;
  top: 0;
  left: 0;
}

.my-fantasy-team .fantasy-news {
  position: absolute;
  width: 1282px;
  height: 194px;
  top: 95px;
  left: 0;
}

.my-fantasy-team .screenshot {
  position: absolute;
  width: 1261px;
  height: 121px;
  top: 289px;
  left: 0;
  object-fit: cover;
}

.my-fantasy-team .overlap-group {
  position: absolute;
  width: 1440px;
  height: 325px;
  top: 0;
  left: 0;
}

.my-fantasy-team .text-wrapper-2 {
  position: absolute;
  width: 829px;
  top: 201px;
  left: 310px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #fffdfd;
  font-size: 86px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.my-fantasy-team .frame {
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #1b263c;
  box-shadow: 0px 4px 4px #00000040;
}

.my-fantasy-team .image {
  position: absolute;
  width: 673px;
  height: 325px;
  top: -75px;
  left: 384px;
  object-fit: cover;
}

.my-fantasy-team .menu-bar {
  position: absolute;
  top: -30px;
  left: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-fantasy-team .menu-bar img {
  width: 100px;
  height: auto; 
  display: block;
}

.my-fantasy-team .line {
  top: 39px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.my-fantasy-team .img {
  top: 57px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.my-fantasy-team .line-2 {
  top: 74px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.my-fantasy-team .overlap-group-2 {
  position: absolute;
  width: 1226px;
  height: 143px;
  top: 340px;
  left: 107px;
}

.my-fantasy-team .rectangle-2 {
  width: 1226px;
  height: 142px;
  top: 1px;
  background-color: #788daa;
  border: 10px solid;
  border-color: #fda311;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.my-fantasy-team .text-wrapper-3 {
  position: absolute;
  width: 204px;
  height: 142px;
  top: 55px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .text-wrapper-4 {
  position: absolute;
  width: 199px;
  height: 142px;
  top: 55px;
  left: 204px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .text-wrapper-5 {
  position: absolute;
  width: 212px;
  height: 142px;
  top: 55px;
  left: 403px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .text-wrapper-6 {
  position: absolute;
  width: 185px;
  height: 142px;
  top: 55px;
  left: 615px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .text-wrapper-7 {
  position: absolute;
  width: 201px;
  height: 142px;
  top: 55px;
  left: 800px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.my-fantasy-team .text-wrapper-8 {
  position: absolute;
  width: 225px;
  height: 142px;
  top: 55px;
  left: 1001px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
