html, body {
  height: 100%;
  margin: 0;
  background-color: #16203d;
}

.notifications {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.notifications .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.notifications .overlap {
  position: relative;
  height: 1024px;
}

.notifications .rectangle {
  position: absolute;
  width: 1440px;
  height: 851px;
  top: 173px;
  left: 0;
  background-color: #16203d;
}

.notifications .frame {
  background-color: #e6e3e3;
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px #00000040;
}

.notifications .div {
  position: absolute;
  width: 386px;
  height: 562px;
  top: 311px;
  left: 79px;
  background-color: #d9d9d9;
}

.notifications .rectangle-2 {
  position: absolute;
  width: 386px;
  height: 562px;
  top: 311px;
  left: 527px;
  background-color: #d9d9d9;
}

.notifications .rectangle-3 {
  position: absolute;
  width: 391px;
  height: 219px;
  top: 184px;
  left: 970px;
  background-color: #d9d9d9;
}

.notifications .rectangle-4 {
  position: absolute;
  width: 391px;
  height: 234px;
  top: 592px;
  left: 970px;
  background-color: #d9d9d9;
}

.notifications .rectangle-5 {
  position: absolute;
  width: 386px;
  height: 101px;
  top: 311px;
  left: 79px;
  background-color: #fda311;
}

.notifications .rectangle-6 {
  position: absolute;
  width: 386px;
  height: 101px;
  top: 311px;
  left: 527px;
  background-color: #fda311;
}

.notifications .rectangle-7 {
  position: absolute;
  width: 391px;
  height: 101px;
  top: 184px;
  left: 970px;
  background-color: #fda311;
}

.notifications .rectangle-8 {
  position: absolute;
  width: 391px;
  height: 101px;
  top: 592px;
  left: 970px;
  background-color: #fda311;
}

.notifications .text-wrapper {
  position: absolute;
  width: 172px;
  top: 341px;
  left: 186px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .text-wrapper-2 {
  position: absolute;
  width: 172px;
  top: 341px;
  left: 634px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .text-wrapper-3 {
  position: absolute;
  width: 172px;
  top: 214px;
  left: 1079px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .text-wrapper-4 {
  position: absolute;
  width: 172px;
  top: 619px;
  left: 1080px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .group {
  position: absolute;
  width: 378px;
  height: 105px;
  top: 449px;
  left: 84px;
}

.notifications .overlap-group {
  position: relative;
  width: 376px;
  height: 105px;
}

.notifications .rectangle-9 {
  position: absolute;
  width: 376px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #a8a5a5;
  border-radius: 10px;
}

.notifications .text-wrapper-5 {
  position: absolute;
  width: 375px;
  top: 21px;
  left: 1px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .rectangle-10 {
  position: absolute;
  width: 385px;
  height: 63px;
  top: 437px;
  left: 973px;
  background-color: #a6a6a6;
}

.notifications .text-wrapper-6 {
  position: absolute;
  width: 361px;
  top: 441px;
  left: 986px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .p {
  position: absolute;
  width: 361px;
  top: 722px;
  left: 986px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.notifications .frame-2 {
  background-color: #1b263c;
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px #00000040;
}

.notifications .image {
  position: absolute;
  width: 673px;
  height: 322px;
  top: -75px;
  left: 384px;
  object-fit: cover;
}

.notifications .screenshot {
  position: absolute;
  width: 386px;
  height: 461px;
  top: 412px;
  left: 527px;
  object-fit: cover;
}

.notifications .img {
  position: absolute;
  width: 386px;
  height: 461px;
  top: 412px;
  left: 79px;
  object-fit: cover;
}

.notifications .menu-bar {
  position: absolute;
  top: 27px;
  left: 1286px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications .menu-bar .menu-img {
  width: 100px;
  height: auto; 
  display: block;
}

.notifications .line {
  top: 39px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.notifications .line-2 {
  top: 57px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.notifications .line-3 {
  top: 74px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}
