html, body {
  height: 100%;
  margin: 0;
  background-color: #16203d;
}
.schedule {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.schedule .div {
  background-color: #16203d;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.schedule .text-wrapper {
  width: 84px;
  top: 407px;
  left: 155px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-2 {
  width: 87px;
  top: 443px;
  left: 156px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-3 {
  width: 87px;
  top: 481px;
  left: 156px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-4 {
  width: 87px;
  top: 519px;
  left: 156px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap {
  position: absolute;
  width: 107px;
  height: 139px;
  top: 557px;
  left: 154px;
}

.schedule .text-wrapper-5 {
  width: 87px;
  top: 0;
  left: 1px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-6 {
  width: 87px;
  top: 37px;
  left: 0;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-7 {
  width: 86px;
  top: 69px;
  left: 2px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-8 {
  width: 105px;
  top: 103px;
  left: 2px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap-group {
  position: absolute;
  width: 152px;
  height: 36px;
  top: 407px;
  left: 294px;
}

.schedule .text-wrapper-9 {
  position: absolute;
  width: 152px;
  top: 0;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-10 {
  top: 444px;
  left: 295px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-11 {
  top: 481px;
  left: 295px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-12 {
  top: 519px;
  left: 295px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-13 {
  top: 557px;
  left: 294px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap-2 {
  position: absolute;
  width: 153px;
  height: 102px;
  top: 594px;
  left: 293px;
}

.schedule .text-wrapper-14 {
  top: 32px;
  left: 1px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-15 {
  top: 66px;
  left: 1px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-16 {
  width: 87px;
  top: 697px;
  left: 155px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-17 {
  top: 697px;
  left: 294px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-18 {
  width: 105px;
  top: 734px;
  left: 154px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-19 {
  top: 734px;
  left: 292px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-20 {
  width: 105px;
  top: 770px;
  left: 154px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-21 {
  top: 770px;
  left: 292px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-22 {
  width: 105px;
  top: 808px;
  left: 154px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-23 {
  top: 808px;
  left: 292px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap-3 {
  position: absolute;
  width: 105px;
  height: 70px;
  top: 846px;
  left: 154px;
}

.schedule .text-wrapper-24 {
  width: 105px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-25 {
  width: 105px;
  top: 34px;
  left: 0;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap-4 {
  position: absolute;
  width: 152px;
  height: 70px;
  top: 846px;
  left: 292px;
}

.schedule .text-wrapper-26 {
  top: 34px;
  left: 0;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-27 {
  width: 105px;
  top: 916px;
  left: 154px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-28 {
  top: 916px;
  left: 292px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-29 {
  width: 105px;
  top: 952px;
  left: 154px;
  position: absolute;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-30 {
  top: 952px;
  left: 292px;
  position: absolute;
  width: 152px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .div-wrapper {
  position: absolute;
  width: 688px;
  height: 61px;
  top: 367px;
  left: 624px;
  background-color: #d9d9d9;
  border-radius: 24px;
}

.schedule .text-wrapper-31 {
  position: absolute;
  top: 4px;
  left: 106px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .team-v-team-team-v {
  position: absolute;
  top: 441px;
  left: 783px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #fda311;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .overlap-group-2 {
  position: absolute;
  width: 1440px;
  height: 343px;
  top: 0;
  left: 0;
}

.schedule .frame {
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #1b263c;
  box-shadow: 0px 4px 4px #00000040;
}

.schedule .image {
  position: absolute;
  width: 673px;
  height: 325px;
  top: -75px;
  left: 384px;
  object-fit: cover;
}

.schedule .rectangle {
  width: 1226px;
  left: 107px;
  background-color: #788daa;
  border-radius: 10px;
  border: 10px solid;
  border-color: #fda311;
  position: absolute;
  height: 142px;
  top: 201px;
}

.schedule .rectangle-2 {
  width: 201px;
  left: 907px;
  background-color: #fda310;
  position: absolute;
  height: 142px;
  top: 201px;
}

.schedule .text-wrapper-32 {
  position: absolute;
  width: 204px;
  height: 142px;
  top: 250px;
  left: 107px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-33 {
  position: absolute;
  width: 199px;
  height: 142px;
  top: 250px;
  left: 311px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-34 {
  position: absolute;
  width: 212px;
  height: 142px;
  top: 250px;
  left: 510px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-35 {
  position: absolute;
  width: 185px;
  height: 142px;
  top: 250px;
  left: 722px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-36 {
  position: absolute;
  width: 201px;
  height: 142px;
  top: 250px;
  left: 907px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .text-wrapper-37 {
  position: absolute;
  width: 225px;
  height: 142px;
  top: 250px;
  left: 1108px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.schedule .menu-bar {
  position: absolute;
  top: -30px;
  left: 1250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule .menu-bar img {
  width: 100px;
  height: auto;
  display: block;
}

.schedule .line {
  top: 39px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.schedule .img {
  top: 57px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}

.schedule .line-2 {
  top: 74px;
  position: absolute;
  width: 59px;
  height: 14px;
  left: 36px;
}
.schedule-weeks .week-block {
  position: absolute;
  left: 154px;
  height: 30px;
  width: 400px;
}

.week-label {
  position: absolute;
  width: 100px;
  font-family: "Istok Web-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  color: #fda311;
}

.matchup {
  position: absolute;
  left: 140px;
  width: 200px;
  font-family: "Istok Web-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
