html, body {
  height: 100%;
  margin: 0;
  background-color: #16203d;
}

.welcome {
  background-color: #16203d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.welcome .overlap-group-wrapper {
  background-color: #16203d;
  width: 1440px;
  height: 1024px;
}

.welcome .overlap-group {
  position: relative;
  height: 1024px;
}

.welcome .frame {
  position: absolute;
  width: 1440px;
  height: 176px;
  top: 0;
  left: 0;
  background-color: #1b263c;
  box-shadow: 0px 4px 4px #00000040;
}

.welcome .text-wrapper {
  position: absolute;
  width: 376px;
  top: 27px;
  left: 532px;
  font-family: "Lobster Two-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome .tempimageonmac {
  position: absolute;
  width: 1440px;
  height: 855px;
  top: 169px;
  left: 0;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.welcome .draftdeck-logo {
  position: absolute;
  width: 435px;
  height: 474px;
  top: 238px;
  left: 502px;
  object-fit: cover;
}

.welcome .div {
  position: absolute;
  width: 479px;
  top: 768px;
  left: 480px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
